<ion-view view-title="Inicio">
  <ion-content class="padding">
  	<div>
    	<h5>Balance actual</h5>
      <div class="balance" ng-click="liquidation();">
        <div id="out">
          {{ balance.out }}€
        </div>
        <div id="in">
          {{ balance.in }}€
        </div>
        <div id="total">
          {{ balance.in + balance.out }}€
        </div>
      </div>
    </div>
    <div>
    	<h5>Movimientos pendientes</h5>
    	<div class="movement {{$index%2==0?'pair':'odd'}}" ng-repeat="m in movements" ng-if="!m.done" ng-click="showCompleteMovementPopUp(m);">
          <img class="category" src="http://192.168.0.159:8000{{ m.category.icon_mini }}">
          <div class="concept">{{ m.concept | limitTo: 15 }}{{m.concept.length > 15 ? '...' : ''}}</div>
          <div class="amount-date">
            <div class="amount">-{{ m.amount }}€</div>
            <div class="date">{{ m.date | date : 'dd/MM/yyyy' }}</div>
          </div>
    	</div>
    </div>
  </ion-content>
</ion-view>
