<ion-view view-title="Chats">
  <ion-content>
  <ul id="notebook_ul">
    <li ng-repeat="chat in chats">
      <div class="row">
          <div class="col-md-2">
              <img style="width: 50px;" ng-src="{{chat.face}}">
          </div>
          <div class="col-md-7">
              <h3>{{chat.name}}</h3>
          </div>
          <div class="col-md-3 pull-right">
              <p>38,95€</p>
          </div>
      <div>
    </li>
  </ul>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
