
.movement>.row {
	height: 60px;
}

.category{
	height: 50px;
	width: 50px;
}

.movement.odd{
	background-color: #F8F8F8;
}
.movement.pair{
	background-color: #EEEEEE;
}

.concept {
	width: 50%;
	margin-top: 15px;
	margin-left: 5px;
}

.amount-date {
	
}

.amount {

}

.date {

}